*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-align: justify;
}

main{
   width: 100%;
   margin: auto;
   background-color: #CC9544;
   /* flex padre */
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

header{
    width: 100%;
    background-color: #361500;
    padding: 15px;
    /* flex padre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#logo{
    text-decoration: none;
    color: #FFE8B6;
    vertical-align:middle;
}

h1{
   font-size: 15px;

}

h2{
    font-size: 40px;
}
#menu1 {
    width: 50%;
    /* flex padre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu1 a{
    color: #FFF0DC;
    background-color: #603601;
    text-decoration: none;
    padding: 10px;
    margin: 8PX;
    font-weight: bold;
    text-align: center;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink: 1;
}

#menu1 a:hover{
    color: #F0BB78;
    background-color: #A27B5C;
}

article{
    background-color: #FFE8B6;
    height: 100%;
    padding: 5px;
    /* flex padre */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

h3{
    font-size: 30px;
    color: #1C0A00;
}

.mision{
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-right: 5%;
}

.texto{
    margin-left: 20%;
}

.vision{
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-left: 5%;
}

.texto2{
    margin-right: 20%;
}

.proposito{
    display: flex;
    align-items: center;
    padding-top: 2%;
    padding-right: 5%;
    padding-bottom: 2%;
}

.texto1{
    margin-left: 20%;
}

h4{
    width: 90%;
    background-color: #F0BB78;
    padding: 80px;
    margin-top: px;
    text-align: center;
    border-radius: 0px 10px 10px 0; 
}

h5{
    width: 120%;
    background-color: #F0BB78;
    padding: 80px;
    text-align: center;
    border-radius: 10px 0 0 10px;
 }

 h6{
    display: flex;
    background-color: #F0BB78;
    margin:0px;
    padding: 50px;
    font-size: 15px;
    text-justify:distribute
 }
footer{
    width: 100%;
    background-color: #361500;
    padding: 25px;
    /* flex padre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#menu1 a{
    color: #FFF0DC;
    background-color: #6B240C;
    text-decoration: none;
    padding: 8px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

#menu2 a:hover{
    color: #F0BB78;
    background-color: #A27B5C;
}

#menu2 a{
    color: #FFF0DC;
    background-color: #6B240C;
    text-decoration: none;
    padding: 4px;
    margin: 8PX;
    font-weight: bold;
    text-align: center;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink: 1;
}

h7{
   color: #FFE8B6;
}

#menu3 a:hover{
    color: #F0BB78;
    background-color: #A27B5C;
}

#menu3 a{
    color: #FFF0DC;
    background-color: #6B240C;
    text-decoration: none;
    padding: 5px;
    margin: 8PX;
    font-weight: bold;
    text-align: center;
    /* flex hijo */
    flex-grow: 1;
    flex-shrink: 1;
}