{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 80%;
    margin: auto;
    background-color:beige;
}

body{
    background-color:beige;
}

header{
    width: 100%;
    background-color: #231c1b;
    padding: 10px 20px;
    overflow: hidden;
}

#logo img{
    width: 80px;
    vertical-align: middle;
}

#logo a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    vertical-align: middle;
}

#inicio {
    float: right;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    vertical-align: middle;
}

#menu1 {
    background-color: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

#menu1 a{
    text-decoration: none;
    padding: 15px 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
}

#menu1 a:hover{
    background-color: white;
    color: black;
}

#menu2 {
    background-color: black
    /* flex padre */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu2 a{
    text-decoration: none;
    padding: 15px 10px;
    color: white;
    text-align: left;
    padding: 10px;
    font-weight: bold;
    margin: 0%;
}

#menu2 a:hover{
    background-color: white;
    color: black;
}

#firma {
    width: 100;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 14px;
}

footer{
    width: 80%;
    margin: auto;
    background-color: #231c1b;
    padding: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
}

.producto {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.producto img{
    width: 200px;
    height: auto;
    margin-right: 20px;
}

.producto .texto{
    text-align: justify;
}

.galeria {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 40px;
}

.columna {
  width: 48%;
}

.producto {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.producto img {
  width: 120px;
  height: auto;
  margin-right: 15px;
}

.producto .texto {
  text-align: justify;
}

/* para tablet */
@media (max-width: 900px) {
    main{
        flex-direction: column;
    }
    header{
        flex-direction: column;
        padding: 0;
    }
    #menu1{
        width: 100%;
    }
    aside{
        flex-direction: row;
    }
    footer{
        justify-content: center;
    }
}

/* para móvil */
@media (max-width: 600px) {
    main{
        flex-direction: column;
    }
    header{
        flex-direction: column;
        padding: 0;
    }
    #menu1{
        width: 100%;
    }
    aside{
        flex-direction: row;
    }
    footer{
        justify-content: center;
    }
}